<mat-card class="home">
  <mat-card-header>
    <mat-card-title>
      Welcome!
    </mat-card-title>
  </mat-card-header>

    <img mat-card-image src="https://cdn.dribbble.com/users/1153546/screenshots/3554875/welcome.png" alt="Welcome to the site">

    <mat-card-content>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda autem commodi doloremque ducimus earum explicabo minus mollitia suscipit voluptas voluptates? Aliquid, cumque itaque laborum modi sit tenetur unde voluptatem voluptatibus?
      </p>
    </mat-card-content>

    <mat-card-actions>
      <a mat-button routerLink="/posts">Posts</a>
    </mat-card-actions>
</mat-card>
